
:root{
	/*color variables go here*/
	text-rendering: optimizeLegibility;
	--background-white: rgb(251, 251, 251);
	--scarlet: rgb(255,36,0);
	--brown: rgb(89,39,32);
	--light-red : rgb(248, 229, 229);
	--light-gray: rgb(121, 108, 103);
	--body-font:
		'Spectral',
		serif,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';

	font-family: var(
		--font_family_ui,
		 -apple-system,
		 BlinkMacSystemFont,
		 'Segoe UI',
		 Roboto,
		 Helvetica,
		 Arial,
		 sans-serif,
		 'Apple Color Emoji',
		 'Segoe UI Emoji');
	color: var(--brown);
}

body{
	font-size: 19px;
}


html,body{
	min-height: 100%;
	min-width: 100%;
	margin: 0;
}

/*can we make it auto generate rows that are 200px?*/
.overall-grid-container {
	display: grid;
	grid-template-columns: 25% 1fr 25%;
	/* grid-template-rows: 77px 275px repeat(5, 175px) min-content;
	grid-auto-rows: 175px; */
	grid-template-rows: 10% max-content;
	grid-auto-rows: 15%;
	background-color: var(--background-white);
	overflow-x: hidden;
	overflow-y: hidden;
}


/*HOMEPAGE/INDEX*/

.homepage-grid-container{
	display: grid;
	grid-column: 1/-1;
	grid-row: 2/-1;
	grid-template-rows: 280px auto 1000px auto;
	grid-template-columns: 10% 80% 10%;
}

.homepage-header-div{
	grid-row: 1/2;
	grid-column: 1/-1;
	justify-self: center;
	text-align: center;
	padding: 104px 12px 56px;
}

.homepage-header-title{
	font-size: 56px;
	margin: 10px 0 15px;
}
.homepage-header-subtitle{
	font-size: 26px;
	margin: 10 0 10 0;
}

.homepage-announce-blog-cards {
	grid-row: 2/3;
	grid-column: 2/3;
	padding-top: 64px;
	margin-left: 29px;
	margin-top: 0;
	font-size: 35px;
}



.homepage-header-image-div {
	grid-column: 1/-1;
	grid-row: 1/2;
}

.blog-cards-overall-flex {
	display: flex;
	margin-top: 144px;
	grid-column: 2/3;
	grid-row: 2/3;
	flex-wrap: wrap;
	justify-content: space-evenly;
	justify-self: center;
	word-break: break-word;
}


.homepage-blog-cards-outer {
	justify-self: center;
	flex-direction: row;
	display: flex;
	flex: 2 1 auto;
	height: 500px;
	width: 400px;
	justify-content: center;
	margin: 6.5px 0 6.5px 0;
}

.homepage-blog-cards-inner {
	justify-self: center;
	display: grid;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	flex: 0 0 360px;
	background-color: white;
	grid-template-rows: 200px min-content auto 5%;
	border-radius: 5px;
}
.homepage-blog-cards-inner:hover{
	box-shadow: 10px 10px 5px 0px var(--light-red);
	justify-self: center;
	display: grid;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	flex: 0 0 360px;
	background-color: white;
	grid-template-rows: 200px min-content auto 5%;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer; 
}



.homepage-blog-card-image-div {
	order: 0;
	align-self: start;
	grid-row: 1/2;
}


.homepage-blog-card-title{
	font-size: 22px !important;
	margin: 10px 5px 10px 5px;
	align-self: start;
	grid-row: 2/3;
	
}


.homepage-blog-card-title:hover{
	text-decoration: solid underline var(--brown) .1em
}



.homepage-blog-card-description{
	font-size: 20px !important;
	margin: 10px 5px 10px 5px;
	align-self: start;
	grid-row: 3/4;

}

.homepage-blog-card-date{
	font-size: 15px;
	grid-row: 4/5;
	grid-column: 1/2;
	justify-self: start;
	margin: 12.45px 12.45px 20px 12.45px; 
}

.homepage-blog-card-estimated-reading-time{
	font-size: 15px;
	grid-row: 4/5;
	grid-column: 1/2;
	justify-self: end;
	margin: 12.45px 12.45px 20px 12.45px; 
}
/* HOMEPAGE */

/*about page should make modular */






/*about page */




/*BLOG ARCHIVE*/


.blog-archive-grid {
	display: grid;
	grid-row: 2/-2;
	grid-column: 1/-1;
	grid-template-rows: 275px;
	grid-template-columns: 25% 1fr 25%;
	grid-auto-rows: 175px; 
}

.blog-render.S0 > .blog-render-title {
	font-size: 21.6px;
}

.blog-render-title{
	/* flex: 1 0 100%; */
	grid-column: 2/3;
	grid-row: 2/3;
	font-size: 18px;
	font-weight: 900;
}
.blog-render-title:hover{
	text-decoration: solid underline var(--brown) .1em;
	/* text-decoration-line: 5px var(--scarlet); */
}

.blog-render.S0 > .blog-render-description-text {
	font-size: 18px;
}


.blog-render-description-text {
	/* flex:.5 .5 65%; */
	font-size: 15px;
	font-weight: 400;
	grid-column: 2/3;
	grid-row: 3/4;
	line-height: 21px;
	font-weight: 475;
	margin: 0 0 0 0;
	align-self: start;
	word-wrap: break-word;
	/* width: 50%;
	order: 3;
	align-self: flex-start; */
	
}

.blog-render.S0 > .blog-render-date {
	font-size: 12px;
	margin-top: 20px;
}
.blog-render-date {
	/* flex: .25 .1 10%; */
	font-size: 10px;
	/* order: 4; */
	/* margin-left: 90%;
	align-self: flex-end; */
	grid-column: 2/3;
	grid-row: 4/5;
	justify-self: end;
	margin: 8px 0 5px 0;
	
}

.blog-0 > .blog-render-image-div {
	/* height: 100%;
	width: 100%; */
}

.blog-render.S0 > .blog-render-image-div > .blog-render-image{
	width: 288px;
	height: 160px;
	
}

.blog-render-image-div {
	/* flex: .5 0 25%;
	align-self: center;
	margin: 5px 5px 5px 10px;
	align-self: flex-start; */
	grid-column: 1/2;
	grid-row: 2/4;
	align-self: center;
	justify-self: center;
}
.blog-render-image{
	width: 180px;
	height: 100px;
}

.blog-render.S0{
	/* display: flex; */
	display: grid;
	background-color: var(--background-white);
	grid-column: 2/3;
	grid-row: 1/2;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 10% auto auto 10%;
	text-align: center;
	cursor: pointer;
	align-items: center;
	text-align: left;
	padding: 0 5px 0 5px;
	border-bottom: 2px solid black;
}

.blog-render.S0:hover {
	background-color: var(--light-red);
}

.blog-render {
	display: grid;
	background-color: var(--background-white);
	/* grid-column: 2/3;
	grid-row: 3/4; */
	grid-column: 2/3;
	grid-row: auto/auto;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 10% auto auto 10%;
	text-align: center;
	cursor: pointer;
	align-items: center;
	text-align: left;
	padding: 0 5px 0 5px;
	border-bottom: 1px solid gray;
}

.blog-render:hover{
	background-color: var(--light-red);
}

/*BLOG ARCHIVE END*/


